<h2>Find the driving licence or Adhar related details </h2>
<h3>search for driving licence details</h3>
<form method="post" action="/users/documentdetails">
  <div class="form-group">
    <label>Name on driving licence</label>
    <input type="text" class="form-control" name="drivingLicenceName" placeholder="your name">
  </div>
  <button type="submit" >Submit</button>

</form>
<br/>
<h4>search for aadhar details</h4>
<form method="post" action="/users/aadhardetails">
  <div class="form-group">
    <label>Name on aadhar</label>
    <input type="text" class="form-control" name="aadharName" placeholder="your name">
  </div>
  <button type="submit" >Submit</button>

</form>

</ul>

